@inject IJSRuntime Js;
@using UAParser;
@using Stl.Fusion.Authentication
@using allmylinks.Models;
@using System.Text.RegularExpressions
@inject Session Session;
@inherits MudComponentBase;

<MudBadge Color="Color.Secondary" Dot="true" Overlap="true" Visible="_newNotificationsAvailable">
    <MudMenu Icon="@Icons.Outlined.Notifications" Color="Color.Inherit" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.TopCenter" PopoverClass="docs-layout-menu-shadow" ListClass="pa-2 docs-menu-list" LockScroll="true">
        <div class="d-flex justify-space-between align-center px-2">
            <MudText Typo="Typo.subtitle2">Notifications</MudText>
            <MudButton Disabled="@(_newNotificationsAvailable == false)" OnClick="MarkNotificationAsRead" StartIcon="@Icons.Filled.DoneAll" Variant="Variant.Text" Color="Color.Primary" Class="ml-16 mr-n2">Mark as read</MudButton>
        </div>
        @if (_messages != null && _newNotificationsAvailable)
        {
            @foreach (var (message, isRead) in _messages.Take(5))
            {
                <MudMenuItem Class="px-2 py-0 rounded" Link="@($"/mud/announcements/{message.Id}")">
                    <MudText Typo="Typo.subtitle2">@message.Title</MudText>
                    <MudText Typo="Typo.body2">@($"{message.Authors.FirstOrDefault()?.DisplayName} • {message.PublishDate.ToString("MM/dd/yyyy")}")</MudText>
                </MudMenuItem>
                <MudDivider Class="my-2"/>
            }
        }
        else
        {
            <div class="d-flex justify-center align-center px-2 py-8 relative">
                <MudText Class="mud-text-secondary my-12">Nothing new :(</MudText>
                <MudBlazorLogo Class="docs-logo-filter mx-16 absolute"/>
            </div>
        }
    </MudMenu>
</MudBadge>
<MudTooltip Duration="1000" Text="@(LayoutService.IsDarkMode ? "Switch to Light Theme" : "Switch to Dark Theme")">
    <MudIconButton Icon="@(LayoutService.IsDarkMode ? Icons.Rounded.LightMode : Icons.Material.Outlined.DarkMode)" Color="Color.Inherit" OnClick="@LayoutService.ToggleDarkMode"/>
</MudTooltip>
    <MudTooltip Duration="1000" Text="Operating System">
        <MudButton id="os"><span class="material-symbols-outlined">computer</span>&nbsp;@Platform</MudButton>
    </MudTooltip>

@code {

    private string UserAgent { get; set; } = string.Empty;
    public string Platform { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        UserAgent = await Js.InvokeAsync<string>("AML.getUserAgent");
        allmylinks.Models.OperatingSystem OS = new();
        string pattern = @"(Mac OS X)";
        RegexOptions options = RegexOptions.Multiline;

        foreach (Match m in Regex.Matches(UserAgent, pattern, options))
        {
            OS.Platform = m.Value;
            Platform = OS.Platform;
        }
        pattern = @"(Windows)";
        foreach (Match m in Regex.Matches(UserAgent, pattern, options))
        {
            OS.Platform = m.Value;
            Platform = OS.Platform;
        }
        pattern = @"(iPhone)";
        foreach (Match m in Regex.Matches(UserAgent, pattern, options))
        {
            OS.Platform = m.Value;
            Platform = OS.Platform;
        }
        pattern = @"(Android)";
        foreach (Match m in Regex.Matches(UserAgent, pattern, options))
        {
            OS.Platform = m.Value;
            Platform = OS.Platform;
        }
        await base.OnInitializedAsync();
    }
}
